

.header{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position:relative;
    top: 0px;
    left: 0px;
    background: var(--bg2);
}

.header .profilePic{
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
}

.header .profilePic .avatar{
    /* padding: 5px; */
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--gr1);
    background:var(--bg1);
}

.header .main {
    width: 100%;
    height: 70vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

.header img{
    width: 100px;
}

.header .left{
    width: 50%;
    height: auto;
    position: relative;
}

.header .left .top{

}

.header .left .top .badge{
    padding: 2px 8px;
    font-size: 10px;
    background: var(--grnbg3);
    color: var(--grnbg1);
    border-radius: 3px;
}

.header .left .top .heading{
    font-size: 4vmin;
}

.header .left .top .info{
    font-size: 2vmin;
    color: var(--white2);
}

.header .left .bottom{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 50px;
}


.header .left .bottom .bx{
    width: 50%;
    margin-right: 20px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

.header .left .bottom .bx h1{
    font-size: 35px;
    padding:10px 10px 0px 0px;
}

.header .left .bottom .bx span{
    font-size: 10px;
    width: 50px;
    color: var(--white3);
}


.header .right{
    width: 50%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header .right .mainArea{
    width: 300px;
    height: 300px;
    background: var(--bg3);
    border-radius: 50%;
    padding: 15vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.header .right .mainArea .avatar{
    width: 25vmax;
}

.header .right .circleA{
    width: 250px;
    height:250px;
    /* border: 2px solid var(--grnbg2); */
    padding: 20px;
    position: absolute;
    top: 10px;
    border-radius: 50%;
}

.header .right .circleA .langImgA{
    width: 10vmin;
    padding: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--bg2);
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--bg1);
    z-index: 100;
    animation: cylceA 10s linear infinite;
    transition: all .2s ease;
}


.header .right .circleB{
    width: 250px;
    height:250px;
    /* border: 2px solid green; */
    padding: 20px;
    position: absolute;
    /* top: 10px;
    right: 0px; */
    margin:0px auto;
    border-radius: 50%;
}   


.header .right .circleB .langImgB{
    width: 20vmin;
    padding: 15px;
    position: absolute;
    right: 20px;
    bottom: -50px;
    background: var(--bg2);
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--bg1);
    z-index: 100;
    animation: cylceB 10s linear infinite;
    transition: all .2s ease;
}



.header .right .circleC{
    width: 250px;
    height:250px;
    /* border: 2px solid var(--red1); */
    padding: 20px;
    position: absolute;
    /* top: -20px;
    left: 0px; */
    margin: 0px auto;
    border-radius: 50%;
}

.header .right .circleC .langImgC{
    width: 15vmin;
    padding: 15px;
    position: absolute;
    left: -50px;
    top: 100px;
    background: var(--bg2);
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--bg1);
    z-index: 100;
    animation: cylceC 10s linear infinite;
    transition: all .2s ease;
}

.header .right .langImgA:hover{
    filter: grayscale(0%);
}

.header .right .langImgB:hover{
    filter: grayscale(0%);
}

.header .right .langImgC:hover{ 
    filter: grayscale(0%);
} 


@media(max-width: 600px) {
    .header .main{
        padding: 50px 0px 0px 10px;
    }
    .header .main .left{
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
    }

    .header .main .left .info{
       font-size: 20px;
    }

    .header .main .left .heading{
        font-size: 8vmin;
    }

    .header .main .right{
       display: none;
    }

    .header .profilePic{
        display: flex;
    }
}





