.navbar {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.navbar .left {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar .left .brand {
  font-weight: 900;
  margin-right: 20px;
}

.navbar .left ul li {
  margin: 5px 10px 0px 10px;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  transition: all .2s ease;
  cursor: pointer;
}

.navbar .left ul li.active {
  font-weight: 900;
  color: var(--gr1);
}


.navbar .left ul li:hover{
    transition:all .2s ease;
    color:  var(--gr1);
    font-weight: 900;

}

.navbar .left ul li:hover::before {
  font-weight: 900;
  content: "<";
  position: absolute;
  left: -10px;
  transition: all .5s ease;
  color:  var(--gr1);
  bottom:0px;
}

.navbar .left ul li:hover::after {
  font-weight: 900;
  content: ">";
  position: absolute;
  right: -10px;
  transition: all .5s ease;
  color:  var(--gr1);
  bottom:0px;
}


.navbar .right{
    width: auto;
    position: relative;   
}

.navbar .right ul{
    width: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar .right ul a{
    width: 100px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white2);
}


.navbar .right ul a .icon{
    margin-right: 10px;
}

.navbar .right ul a:hover{
    color: var(--white1);
    text-decoration: none;
}

.navbar .right ul a:hover > .mail{
    opacity: 1;
}

.navbar .right ul a .mail{
    padding: 8px;
    font-size: 30px;
    background: var(--bg1);
    color: var(--gr1);
    border-radius: 50%;
    opacity: .7;
}

/* Responsive Navbar */
.mobileNav{
    width: 100%;
    height: auto;
    padding:0px;
    margin: 0px auto;
    position: fixed;
    left: 0px;
    bottom: 0px;
}


.mobileNav .main{
    width: 100vmin;
    max-height: 70px;
    background: var(--bg3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0px;
    box-shadow: 0px 0px 4px #000;
}

.mobileNav .main .li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:all .2s ease;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}


.mobileNav .main li .icon{
    font-size: 20px;
    padding: 10px;
    transition:all .2s ease;
}

.mobileNav .main .li label{
    font-size: 12px;
    font-weight: 300;
    transition:all .3s ease;
    transform: translateY(100px);
}


.mobileNav .main .li:hover > label{
    display: flex;
    transition:all .3s ease;
    transform: translateY(-2px);
    color: var(--gr2);
}

.mobileNav .main .li:hover > .icon{
    /* font-size: 19px; */
    background: var(--bg1);
    border-radius: 50%;
    color: var(--gr2);
    transition:all .2s ease;
}

/* when nav is active */

.mobileNav .main .active{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:all .2s ease;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.mobileNav .main .active > label{
    font-size: 12px;
    font-weight: 300;
    transition:all .3s ease;
    transform: translateY(-2px);
    color: var(--gr2);
}

.mobileNav .main .active > .icon{
    padding: 7px;
    background: var(--bg1);
    border-radius: 50%;
    color: var(--gr2);
    transition:all .2s ease;
}