@import url("./bootstrap.module.css");

@font-face {
    font-family: Poppin;
    src: url("../public/fonts/Poppins.ttf");
}

@font-face {
    font-family: FiraCode;
    src: url("../public/fonts/FiraCode.ttf");
}

@font-face {
    font-family: Cario;
    src: url("../public/fonts/Cairo-Light.ttf");
}



:root{
    --dark1:#0c0c0c8c;
    --bg1: #202022;
    --bg2: #2d2e32;
    --bg3: #25262a;
    --gr1: #64f4ac;
    --gr2: #64f4acea;
    --gr3: rgb(100, 244, 172, .7);
    --grnbg1:#05ff82;
    --grnbg2:#15eb80;
    --grnbg3:rgb(3, 252, 128, .4);
    --white1:#fff;
    --white2:#ccc;
    --white3:rgb(129, 129, 129);
    --red1:#ff0000;
    --red2:rgb(255, 0, 0, .4);

    /* fonts name */
    --poppin: Poppin;
    --firacode: Firacode;
    --cario: Cario;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

ul{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

li{
    list-style-type: none;
}


body{
    width: 100%;
    height: 100vh;
    position: relative;
    left: 0px;
    overflow-x: hidden;
    font-family: var(--poppin);
    background: var(--bg3);
    color: var(--white1);
}